<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="Поиск работы" content="width=device-width, initial-scale=1.0">
    <title>Поиск работы</title>
    <style type="text/css">
        h1 {
    font-size: 120%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333366;
   }
    </style>
</head>
<body>
    <h1>asf;aslfmalfmnaslf</h1>
    <form action="http://127.0.0.1:8000/get_vakans" method="get" >
  <input name="search" placeholder="Искать здесь..." type="search">
  <input name="salary" placeholder="Искать здесь..." type="search">
  <input name="education_level" placeholder="Искать здесь..." type="search">
   <p>
      <input name="big_pissos" placeholder="Искать здесь..." type="checkbox" value="True">
        123
   </p>
  <button type="submit">Поиск</button>


</form>
</body>
</html>